*.[oa]
*.log
*~
*.Plo
*.Po
*.la
*.lo
*.trs
*swp
.gitignore

tests/check_jsonschema_c

autom4te.cache/
.deps/
.libs/
tests/.libs/
tests/.deps/

Makefile
Makefile.in
tests/Makefile
tests/Makefile.in

compile
aclocal.m4
missing
test-driver
install-sh
depcomp
ltmain.sh
libtool

configure
config.sub
config.log
config.guess
config.status
configure.scan

*errors.txt